html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

body {
    background-color: #f0f0f0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-family: "Cinzel", Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #338855;
    text-align: center;
    font-size: 3.5rem;
    margin-bottom: 0;
    margin-top: 0.5rem;
}

a:link {
    color: #f0ddf0;
}

a:visited {
    color: #e4e4e4;
}

a:hover {
    color: yellow;
}

.introduction {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    font-size: 1.2rem;
}

.introduction p {
    margin-top: 0;
}

.map-container {
    width: 60%;
    height: 70vh;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.35);
    margin: 0 auto;
    margin-bottom: 2rem;
}

.dropdown-container {
    margin-bottom:1rem;
    overflow-y: auto;
}

.icon-shadow {
    filter: drop-shadow(3px 3px 5px rgba(0, 0, 0, 0.5));
}

@keyframes zoomIn {
    from {
      transform: scale(0.8);
      opacity: 0;
    }
    to {
      transform: scale(1);
      opacity: 1;
    }
  }

  #map {
    animation: zoomIn 1s ease-out;
  }

.leaflet-popup-content-wrapper {
    background: linear-gradient(to bottom right, #4D9966, #338855, #1F7744, #0A6633, #005522);
    border: 0.5px solid #005522;
    color: #fcfcc0;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);

    text-shadow:
        -0.75px -0.75px 0 black,
        -0.75px -0.75px 0 black,
        -0.75px -0.75px 0 black,
         0.75px  0.75px 0 black,
         1px  1px 2px rgba(0, 0, 0, 0.2);
}

.leaflet-popup-content {
    max-width: 90%;
}
.leaflet-popup-tip {
    background-color: #005522;
}

.leaflet-popup-close-button span {
    color: white;
    font-size: 2rem;
    margin: -1rem 0 0 -2rem;
    padding: 1rem;
}

.leaflet-control-attribution,
.leaflet-control-zoom {
    a:link {
        color: #6f1ab0;
    }

    a:visited {
        color:#8a2be2;
    }
}

.leaflet-marker-icon {
    transition: transform 0.3s ease-in-out;
}

.leaflet-marker-icon:hover {
    filter: hue-rotate(90deg) saturate(2)drop-shadow(0px 0px 8px rgba(121, 121, 121, 0.8));
}

.hidden {
    display: none;
}

.station-label {
    position: absolute;
    left: 50%;
    top: -12px;
    transform: translateX(-50%);
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    color: #fcfcc0;
    white-space: nowrap;
    pointer-events: none;
    text-align: center;
    text-shadow:
        -1.5px -1.5px 0 black,
         1.5px -1.5px 0 black,
        -1.5px  1.5px 0 black,
         1.5px  1.5px 0 black,
         4px  4px 6px rgba(0, 0, 0, 0.8);

    background: none !important;
    border: none !important;
    box-shadow: none !important;
    padding: 0 !important;

    /* Smooth fade-in/out transition */
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.station-label.visible {
    opacity: 1;
}


#loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 9999;
  }

  #loading-message {
    font-size: 1.2rem;
    color: #8a2be2;
  }

@media (max-width: 37.5em) {
    body {
        margin: 0;
    }
    h1 {
        font-size: 1.75rem;
        margin: 0.25rem;
    }

    .introduction {
        font-size: 1rem;
        margin: 0.25rem;
    }

    .map-container {
        width: 100%;
        height: calc(65vh);
        margin: 0;
        margin-bottom: 3rem;
    }

    .dropdown-container {
        margin-bottom: 1rem;
        overflow-y: auto;
    }

    .leaflet-popup-content-wrapper {
        font-size: 0.9rem;
    }

    .wiki-icon {
        width: 1.875rem;
        height: 1.875rem;
        vertical-align: middle;
        margin-left: 3px;
    }
}


/* Footer styles */
.footer {
    color: white;
    font-size: 1.25rem;
    background: linear-gradient(to bottom right, #4D9966, #338855, #1F7744, #0A6633, #005522);
    height: 3rem;
    text-align: center;
    display: grid;
    align-items: center;
}

.footer p {
    margin-top: 0.5rem;
}

@media (max-width: 37.5rem) {
    .footer {
        font-size: 1rem;
    }
}
